#boards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#opponent, #own{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.titles {
    font-family: "Roboto", sans-serif;
    font-style: bolder;
}
