.opponentBoard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.count, .winner {
  font-family: "Roboto", sans-serif;
  color: darkgrey;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}
