<<<<<<< HEAD
#navbar {
    display: flex;
    flex-direction: row;
}

.mode {
    background-color: yellowgreen;
}

.winner {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

#mobileBoard {
    display: flex;
    flex-direction: column;
}
=======
.winner {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}
>>>>>>> df795d8f98a6355c5e784d028e3d0e09516f184b
