.opponentTile {
  border: 1px solid darkgrey;
  background-color: lightblue;
}


#✓ {
  background-color: lightgreen;
  color: green;
  font-size: 40px;
  text-align: center;
  font-style: bolder;
}

#X {
  background-color: lightcoral;
  color: darkred;
  font-size: 40px;
  text-align: center;
  font-style: bolder;
}

#n {
  color: transparent;
}

#n:hover {
  background-color: turquoise;
}

