.board {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(10, 100px);
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.count,
.winner {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.computerCount {
  margin-left: 30px;
}
