.welcome {
  font-size: 80px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: blue;
}

.standardGame,
.freePlayGameBoard,
.GameRule {
  font-size: 50px;
  color: cornflowerblue;
  margin-right: 20px;
}

.links {
  display: flex;
  justify-content: center;
}
